Project/Library/
Project/Temp/
Project/UnityVS.Project.v12.suo
Project/obj/Debug/Assembly-CSharp.dll
Project/obj/Debug/Assembly-CSharp.pdb
Project/obj/Debug/UnityVS.Project.CSharp.csproj.FileListAbsolute.txt
